:root {
  --background: #ffffff;
  --foreground: #171717;
  --rp-light-blue: #2b70c9;
  --rp-dark-blue: #0c1b50;
  --rp-white: #fffcff;
  --rp-grey: #c7cac9;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--rp-light-blue);
  background: var(--rp-white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
